:root {
    --main-color-dark: #648277;
    --main-color-medium: #a0b6ae;
    --main-color-light: #fafafa;
    --text-color-dark: #445555;
    --text-color-light: #889898;
    --text-color-error: #aa0000;
    --border-color-all: #dadadada;
    --shadow-color-main: #777777;
}

/* Sitewide rules. */
html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--main-color-light);
}

body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

header {
    height: 6vh;
    padding-top: 3vh;
    background-color: var(--main-color-dark);
}

h1 {
    margin: 0;
    padding-top: 5px;
    padding-bottom: 15px;
    color: var(--text-color-dark);
}

table {
    width: 100%;

    background-color: var(--main-color-light);
    border: solid 1px var(--border-color-all);
    border-collapse: collapse;
}

th, td {
    font-size: 14px;

    border: solid 1px var(--border-color-all);
    border-collapse: collapse;
}

th {
    padding: 8px 4px;
    background-color: var(--main-color-medium);
}
td {
    padding: 4px;
}

td > a {
    color: var(--text-color-dark);
}
td > a:hover {
    color: var(--text-color-light);
    text-decoration: underline;
}

textarea {
    resize: none; 
}

input, textarea {
    width: 99%;
}
select {
    width: 100%;
}

input, textarea, select {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

#nav-bar {
    font-size: 18px;
    padding: 10px;
}

#home-link {
    font-size: 28px;
}
#main-links > span {
    font-size: 24px;
}

#nav-bar, #resource-links, #pagination-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#home-link, #contents-link, .nav-link, .lan-link,
.divider, .pagination-cell > * {
    color: white;
}

#lan-dropdown {
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
}

#dropdown-link {
    padding-bottom: 12px;
}

#lan-content {
    display: none;
    position: fixed;
    z-index: 1001;

    padding: 10px 12px;
    background-color: var(--main-color-medium);
    box-shadow: 0px 4px 16px 0px var(--shadow-color-main);
}

#lan-dropdown:hover #lan-content {
    display: block;
}
#lan-content:hover {
    display: block;
}

#site-container {
    width: 80vw;
    margin: auto;
}

#content {
    min-height: 90vh;
    margin: 0px;
    padding: 10px 30px 10px 30px;
    font-size: 14px;
    background-color: white;
}

#heading, .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#validation-errors, .validation-error {
    color: var(--text-color-error);
}

#logout-link, #login-link {
    margin: 0px 10px;
}

.return-link {
    font-weight: bolder;
}

.center-cell {
    text-align: center;
}

.resource-button, .user-button {
    width: 8em;
    height: 2em;

    border: solid;
    border-width: 1px;
    border-color : var(--main-color-light);
    border-radius: 0.5vw;
}

#error-message {
    position: absolute;
    z-index: 1000;

    top: 45%;
    left: 40%;
    width: 20%;

    padding: 20px 30px 30px 30px;
    background-color: white;
    border: solid 1px;
    border-color: var(--main-color-medium);
    border-radius: 1vw;
}
#error-message > div {
    padding-top: 16px;
}

.popup-link {
    float: right;
    font-size: 24px;

    border: none;
    color: var(--main-color-medium);
    cursor: pointer;
}

/* Home page rules. */
#home-map {
    height: 80vh;
    margin: 15px;
}

.place-legends {
    display: none;

    position: absolute;
    z-index: 1000;

    top: 16%;
    bottom: 12%;
    left: 20%;
    width: 56%;
    max-height: 72%;

    overflow-y: scroll;
    scrollbar-width: none;

    padding: 20px 30px 30px 30px;
    background-color: white;
    border: solid 1px;
    border-color: white;
    border-radius: 1vw;
}

#place-legend-identifier {
    width: 10%;
}
#place-legend-chapter {
    width: 20%;
}
#place-legend-title {
    width: 30%;
}
#place-legend-text {
    width: 35%;
}

#home-select {
    display: flex;
    gap: 4px;
}
#home-select > * {
    padding: 4px;
    margin: auto;
}

#information {
    padding: 8px 16px;
    font-size: 16px;
}

/* Table of contents rules. */
#table-of-contents {
    display: flex;
    justify-items: stretch;
    width: 100%;
}
#table-of-contents > div {
    width: 33%;
}

#contents-table-identifier {
    width: 8%;
}
#contents-table-title {
    width: 25%;
}
#contents-chapter-text {
    width: 33%;
}
#contents-subchapter-text {
    width: 58%;
}
#contents-table-collector {
    width: 14%;
}
#contents-table-narrator {
    width: 14%;
}
#contents-table-place {
    width: 12%;
}

ul {
    list-style-type: none;
}
li {
    margin-bottom: 8px;
}

.chapter, .chapter-title {
    margin-bottom: 12px;
}

.chapter-link {
    color: var(--text-color-dark);
    cursor: pointer;
}

.chapters, .subchapters {
    margin-left: -16px;
}
.subchapters {
    display: none;
}

/* Index page rules. */
#legend-index-identifier {
    width: 8%;
}
#legend-index-volume {
    width: 6%;
}
#legend-index-chapter {
    width: 10%;
}
#legend-index-title {
    width: 16%;
}
#legend-index-text {
    width: 32%;
}
#legend-index-collector {
    width: 10%;
}
#legend-index-narrator {
    width: 10%;
}
#legend-index-place {
    width: 8%;
}

#legend-text-lv, #legend-text-de {
    text-align: justify;
}
#legend-text-lv {
    width: 45%;
}
#legend-text-de {
    width: 55%;
}

#person-index-fullname {
    width: 82%;
}
#person-index-gender {
    width: 8%;
}
#person-index-count {
    width: 10%;
}

#place-index-name {
    width: 80%;
}
#place-index-latitude, #place-index-longitude {
    width: 10%;
}

#source-index-identifier {
    width: 10%;
}
#source-index-title {
    width: 65%;
}
#source-index-author {
    width: 25%;
}

#pagination-section {
    width: 100%;
    padding-top: 8px;
}

#pagination-links, #pagination-forward, #pagination-back {
    display: flex;
}

#pagination-links {
    padding: 4px;
}

.pagination-button {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 2em;
    width: 2em;
    font-size: 18px;

    border: solid 4px white;
    border-collapse: collapse;
    background-color: var(--main-color-medium);
}

.pagination-button > a, .return-link {
    color: var(--text-color-dark);
}
.pagination-button > a:hover, .return-link:hover {
    color: var(--text-color-light);
}

#pagination-section > form {
    float: right;
}

#search-sources-author {
    width: 97%;
}
#search-title {
    width: 95%;
}
#search-collector, #search-narrator,
#search-latitude, #search-longitude {
    width: 93%;
}
#search-chapter, #search-place,
#search-sources-identifier {
    width: 92%;
}
#search-identifier {
    width: 90%;
}
#search-volume {
    width: 88%;
}

#search-button {
    display: none;
}

/* Resource display page rules. */
#display-item-column {
    width: 25%;
}
#display-item-value {
    width: 75%;
}

#resource-map {
    height: 40vh;
}

.resource-link {
    color: var(--text-color-dark);
    cursor: pointer;
}
.resource-link:visited {
    color: var(--text-color-light);
}

/* User page rules */
#login-frame {
    display: flex;
    width: 100vw;
    height: 100vh;
}

#login-pane {
    margin: auto;
    padding: 3vh 3vw 3vh 3vw;
    width: 30vw;
    height: 30vh;

    display: flex;
    align-items: center;
    justify-content: center;

    color: black;
    background-color: var(--main-color-medium);
    border: solid;
    border-width: 1px;
    border-color : var(--main-color-medium);
    border-radius: 2vw;
}

#login-form {
    width: 60%;
    height: 80%;
}

#login-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

#login-form > input {
    display: block;
    width: 100%;
}

#display-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    margin-bottom: 20px;
}

#display-grid > div {
    margin: 20px 30px;
    padding: 30px;
    text-align: center;

    background-color: var(--main-color-light);
    border: solid 1px var(--main-color-medium);
}

#user-create {
    padding: 10px 15px 15px 15px;
    background-color: var(--main-color-medium);

    border: solid;
    border-width: 1px;
    border-color: var(--main-color-medium);
    border-radius: 1vw;
}

.delete-popup {
    display: none;

    position: absolute;
    z-index: 1000;

    top: 34%;
    left: 33%;
    width: 30%;

    padding: 20px 30px 30px 30px;
    background-color: white;
    border: solid 1px;
    border-color: var(--main-color-medium);
    border-radius: 1vw;
}

.button-group {
    display: flex;
    justify-content: space-between;
}